@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 93%);
  --foreground: hsl(0, 0%, 27%);
  --accent-1: hsl(0, 0%, 100%);
  --button-1: hsl(189, 95%, 47%);
  --button-2: hsl(0, 0%, 93%);
  --black: hsl(278, 57%, 17%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent-1);
  --color-button-1: var(--button-1);
  --color-button-2: var(--button-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --black: var(--black);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
